@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-limit {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
}