@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-hover: var(--muted-hover);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-hover: var(--accent-hover);
	--color-accent-foreground: var(--accent-foreground);
	--color-danger: var(--danger);
	--color-danger-hover: var(--danger-hover);
	--color-danger-foreground: var(--danger-foreground);
	--color-warning: var(--warning);
	--color-warning-hover: var(--warning-hover);
	--color-warning-foreground: var(--warning-foreground);
	--color-success: var(--success);
	--color-success-hover: var(--success-hover);
	--color-success-foreground: var(--success-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--background-image-gradient-color: linear-gradient(
		180deg,
		#09090b 0%,
		#27272a 50%,
		#18181b 100%
	);

	--animate-smooth-fadein: smooth-fadein 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-smooth-fadeout: smooth-fadeout 0.15s
		cubic-bezier(0.4, 0, 0.2, 1);
	--animate-accordion-down: accordion-down 0.4s ease-in;
	--animate-accordion-up: accordion-up 0.4s ease-out;

	@keyframes smooth-fadein {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes smooth-fadeout {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(0.95);
		}
	}
	@keyframes accordion-down {
		0% {
			max-height: 0;
			opacity: 0;
		}
		100% {
			max-height: 500px;
			opacity: 1;
		}
	}
	@keyframes accordion-up {
		0% {
			max-height: 500px;
			opacity: 1;
		}
		100% {
			max-height: 0;
			opacity: 0;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--primary, currentColor);
	}
}

@utility text-limit {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@layer base {
	:root {
		--background: #f4f4f5;
		--foreground: #151517;

		--primary: #3f3f46;
		--primary-hover: #616167;
		--primary-foreground: #ffffff;
		--secondary: #c1c1c3;
		--secondary-hover: #adadb0;
		--secondary-foreground: #424242;
		--muted: #adadad;
		--muted-hover: #ededed;
		--muted-foreground: #7b7b7b;
		--accent: #6b29ae;
		--accent-hover: #8233d1;
		--accent-foreground: #f4f1f1;

		--danger: #ff5a5a;
		--danger-hover: #e04848;
		--danger-foreground: #f8f8f8;
		--warning: #f5c542;
		--warning-hover: #e6b63c;
		--warning-foreground: #1a1a1a;
		--success: #5cb85c;
		--success-hover: #4cae4c;
		--success-foreground: #f8f8f8;

		--border: #222223;
		--ring: #1d1d1f;
		--input: #252424;

		--chart-1: #3f3f46;
		--chart-2: #463f46;
		--chart-3: #463f3f;
		--chart-4: #46463f;
		--chart-5: #3f463f;
	}

	.dark {
		--background: #000000;
		--foreground: #ffffff;

		--primary: #181819;
		--primary-hover: #1d1d1f;
		--primary-foreground: #eaeaeb;
		--secondary: #121213;
		--secondary-hover: #181819;
		--secondary-foreground: #d5d5d7;
		--muted: #232323;
		--muted-hover: #323232;
		--muted-foreground: #e5e5e5;
		--accent: #6b29ae;
		--accent-hover: #8233d1;
		--accent-foreground: #ede8e8;

		--danger: #ff5a5a;
		--danger-hover: #e04848;
		--danger-foreground: #f8f8f8;
		--warning: #f5c542;
		--warning-hover: #e6b63c;
		--warning-foreground: #1a1a1a;
		--success: #5cb85c;
		--success-hover: #4cae4c;
		--success-foreground: #f8f8f8;

		--border: #36363c;
		--ring: #3f3f46;
		--input: #34343a;

		--chart-1: #181819;
		--chart-2: #191819;
		--chart-3: #191818;
		--chart-4: #191918;
		--chart-5: #181918;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}
